name: smart_search_list_example
description: Example app demonstrating smart_search_list package
version: 1.0.0+1
publish_to: none

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: ">=3.35.0"

dependencies:
  flutter:
    sdk: flutter
  smart_search_list:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true